<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Initiate a new incoming transaction </h5>
        </div>
        <div class="ibox-content">
          <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#qr" aria-controls="qr" role="tab" data-toggle="tab"><i class="fa fa-qrcode"></i> Generate QR</a></li>
              <li role="presentation"><a href="#request" aria-controls="request" role="tab" data-toggle="tab"><i class="fa fa-paper-plane"></i> Send money request</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="qr">
                <%= form_for(@transaction, url: qrcreate_transactions_path) do |f| %>
                <% if @transaction.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
                  <ul>
                    <% @transaction.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
                <% end %>
                <br>
                <form class="form-horizontal">

                  <div class="valeureux-form-group">
                    <label class="col-sm-2 control-label">Amount</label>
                    <div class="col-sm-10">
                      <div class="input-group m-b">
                        <span class="input-group-addon"> V </span>
                        <%= f.text_field :amount, class: "form-control", placeholder: "Amount"  %>
                      </div>
                    </div>
                  </div>
                  <div class="hr-line-dashed"></div>
                  <div class="valeureux-form-group">
                    <label class="col-sm-2 control-label">Reference</label>
                    <div class="col-sm-10">
                      <%= f.text_field :communication, class: "form-control", placeholder: "Reference(optional)"  %>
                    </div>
                  </div>
                  <div class="hr-line-dashed"></div>
                  <%= f.submit 'Generate QR code', class: "btn btn-block btn-outline btn-primary" %>
                  <% end %>
                </form>
              </div>
              <div role="tabpanel" class="tab-pane" id="request">
              <br>
                <%= form_for(@transaction) do |f| %>
                <% if @transaction.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

                    <ul>
                    <% @transaction.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="form-horizontal">

                  <div class="valeureux-form-group">
                    <label class="col-sm-2 control-label">To</label>
                    <div class="col-sm-10">
                      <div class="input-group m-b">
                      <span class="input-group-addon">&#64;</span>
                      <%= f.select :receiver_id, @accounts.collect { |a| [a.user.full_name, a.id]}, {include_blank: "Add a receiver"}, class: "form-control"  %>
                      </div>
                    </div>
                  </div>

                  <div class="hr-line-dashed"></div>

                  <div class="valeureux-form-group">
                      <label class="col-sm-2 control-label">Amount</label>
                      <div class="col-sm-10">
                        <div class="input-group m-b">
                          <span class="input-group-addon"> V </span>
                          <%= f.text_field :amount, class: "form-control", placeholder: "Amount"  %>
                        </div>
                      </div>
                  </div>

                  <div class="hr-line-dashed"></div>

                  <div class="valeureux-form-group">
                      <label class="col-sm-2 control-label">Communication</label>
                      <div class="col-sm-10">
                        <%= f.text_field :communication, class: "form-control", placeholder: "Communication(optional)"  %>
                      </div>
                  </div>

                  <div class="hr-line-dashed"></div>
                    <%= f.button 'Send money request', class: "btn btn-block btn-outline btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Incoming transactions history </h5>
              </div>
              <div class="ibox-content">
                <div class="row">
                  <div class="table-responsive">
                    <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>In/Out </th>
                <th>Type</th>
                <th>Amount </th>
                <th>Status </th>
                <th>Party </th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <% @incomes_history.each do |t| %>
              <tr>
                <td><%= t.created_at.strftime('%F') %></td>
                <td>
                  <% if t.sender == current_user.account then %> <span class="label label-danger">out</span>
                    <% else %><span class="label label-primary">in</span>
                    <% end %>
                </td>
                <td><% if t.transaction_type == "qrtransfer" then %> <i class="fa fa-qrcode"></i>
                  <% else %> <i class="fa fa-paper-plane-o"></i>
                  <% end %>
                </td>
                <td><%= t.amount %></td>
                <td>
                  <% if t.status == "confirmed" then %> <span class="label label-primary">confirmed</span>
                    <% else %><span class="label label-danger">pending</span>
                    <% end %>
                </td>
                <td>
                  <% if t.sender == current_user.account && t.receiver == nil then %> N/A
                  <% elsif t.sender == current_user.account && t.receiver != nil then %><%= image_tag t.receiver.user.picture.url(:nanothumb), class: "img-circle"%><%= t.receiver.user.full_name %>
                  <% elsif t.receiver == current_user.account && t.sender == nil then %> N/A
                  <% elsif t.receiver == current_user.account && t.sender != nil then %><%= image_tag t.sender.user.picture.url(:nanothumb), class: "img-circle"%><%= t.sender.user.full_name %>
                  <% else %>???
                    <% end %>
                <td><a href="<%= transaction_url(t) %>"><i class="fa fa-ellipsis-h"></i></a></td>

              </tr>
              <% end %>
            </tbody>
          </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>