<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Shop Locator</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'home', :action => 'index' %>">Home</a>
      </li>
      <li class="active">
        <strong>Shop Locator</strong>
      </li>
    </ol>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="ibox chat-view">
      <div class="ibox-title">
          <small class="pull-right text-muted">Last update:  Fri Mar 13 2015 - 10:39:23</small>
          Pick a shop
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-7 ">
            <div class="chat-discussion" style="height: 550px">
              <% @shops.each do |s| %>
              <div class="col-sm-6" style="height: 280px">
                <div class="contact-box">
                  <a href="<%= url_for :controller => 'home', :action => 'index' %>">
                  <div class="col-sm-4">
                    <div class="text-center">
                    pic here
                    </div>

                  </div>
                  <div class="col-sm-8">
                    <h3><strong><%= s.shopname %></strong></h3>
                    <p><i class="fa fa-map-marker"></i><%= s.address %></p>
                    <p><%= truncate(s.description, length: 80) %></p>
                    <abbr title="Phone">P:</abbr> <%= s.phone_number %>
                  </div>
                  <div class="clearfix"></div>
                  </a>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-5">
            <div id="map" style='width: 450px; height: 550px;'>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function () {
  handler = Gmaps.build('Google', {markers: {maxRandomDistance: 5}});
  handler.buildMap({ internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
});

</script>

