<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><i class="fa fa-paper-plane"></i>  Initiate a new outgoing transaction</h5>
      </div>
      <div class="ibox-content">
        <div class="form-horizontal">

          <div class="valeureux-form-group">
            <label class="col-sm-2 control-label">To</label>
            <div class="col-sm-10">
              <div class="input-group m-b">
              <span class="input-group-addon">&#64;</span>
              <%= f.select :receiver_id, @accounts.collect { |a| [a.user.full_name, a.id]}, {include_blank: "Add a receiver"}, class: "form-control"  %>
              </div>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="valeureux-form-group">
              <label class="col-sm-2 control-label">Amount</label>
              <div class="col-sm-10">
                <div class="input-group m-b">
                  <span class="input-group-addon"> V </span>
                  <%= f.text_field :amount, class: "form-control", placeholder: "Amount"  %>
                </div>
              </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="valeureux-form-group">
              <label class="col-sm-2 control-label">Communication</label>
              <div class="col-sm-10">
                <%= f.text_field :communication, class: "form-control", placeholder: "Communication(optional)"  %>
              </div>
          </div>

          <div class="hr-line-dashed"></div>
            <%= f.button :submit, class: "btn btn-block btn-outline btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Outgoing transactions history </h5>
        </div>
        <div class="ibox-content">

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Type </th>
                <th>Amount </th>
                <th>Status </th>
                <th>Sender </th>
                <th>Receiver </th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <% @expenses_history.each do |t| %>
              <tr>
                <td><%= t.created_at %></td>
                <td><%= t.transaction_type %></td>
                <td><%= t.amount %></td>
                <td><%= t.status %></td>
                <td><%= t.sender_id %></td>
                <td><%= t.receiver_id %></td>
                <td><a href="<%= transaction_url(t) %>"><i class="fa fa-check text-navy"></i></a></td>

              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>



