<h1>Confirm Transaction</h1>

<p id="notice"><%= notice %></p>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Confirm Transaction</h5>
      </div>
      <div class="ibox-content">
        <form method="get" class="form-horizontal">

          <div class="form-group">
            <label class="col-sm-2 control-label">This is a payment to</label>
            <div class="col-sm-10">
              <div class="row">
                  <div class="m-b h3">
                  <strong><%= User.find_by_id(@transaction.receiver).full_name %></strong>
                  </div>
              </div>
              <div class="row">
                  <div class="m-b" >
                  <%= image_tag User.find_by_id(@transaction.receiver).picture.url(:minithumb), class: "img-responsive img-circle" %>
                  </div>
              </div>
            </div>

          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group">
              <label class="col-sm-2 control-label">For the amount of</label>
              <div class="col-sm-10">
                <div class="m-b h2">
                  <%= @transaction.amount %> V
                </div>
              </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Enter PIN code</label>
            <div class="col-sm-10">
              <div class="m-b">
                <input type="PIN code" placeholder="PIN code" pattern="[0-9]*" class="form-control">
              </div>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div>
            <%= link_to 'Confirm transaction', confirm_transaction_path(@transaction), class: "btn btn-block btn-outline btn-primary" %>
        </form>
      </div>
    </div>
  </div>
</div>
</div>






