<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @transaction.transaction_type %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @transaction.sender.user.full_name %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @transaction.receiver.user.full_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @transaction.reference %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transaction.status %>
</p>

<p>
  <strong>Communication:</strong>
  <%= @transaction.communication %>
</p>

