<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
               <div class="dropdown profile-element">
                  <span>
                       <img alt="image" class="img-circle" src="http://www.lorempixel.com/48/48/sports"/>
                   </span>
                   <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                       <span class="clear">
                           <span class="block m-t-xs">
                               <strong class="font-bold">Frederic Lambrechts</strong>
                       </span>
                   </a>
                </div>
                <div class="logo-element">
                    V+
                </div>
            </li>
            <li class="<%= 'active' if current_page?('/') %>">
                <%= link_to "/" do %>
                <i class="fa fa-bar-chart-o"></i> <span class="nav-label">Activity</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/home/minor') %>">
                <%= link_to "/home/minor" do %>
                <i class="fa fa-cart-plus"></i> <span class="nav-label">Top-up</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/transactions/new') %>">
                <%= link_to "/transactions/new" do %>
                <i class="fa fa-exchange"></i> <span class="nav-label">Transfer</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/new_account') %>">
                <%= link_to "/accounts/new" do %>
                <i class="fa fa-cog"></i> <span class="nav-label">Settings</span>
                <% end %>
            </li>

        </ul>

    </div>
</nav>