<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
        <% if user_signed_in? %>
            <li class="nav-header">
               <div class="dropdown profile-element">
                  <span>
                    <%= image_tag current_user.picture.url(:minithumb), class: "img-circle"%>
                   </span>
                   <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                       <span class="clear">
                           <span class="block m-t-xs">

                           <%= link_to current_user.full_name, edit_user_registration_path %>

                       </span>
                   </a>
                </div>
                <div class="logo-element">
                    V+
                </div>
            </li>
            <li class="<%= 'active' if current_page?('/home/index') %>">
                <%= link_to "/home/index" do %>
                <i class="fa fa-bar-chart-o"></i> <span class="nav-label">Activity</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/home/minor') %>">
                <%= link_to "/home/minor" do %>
                <i class="fa fa-cart-plus"></i> <span class="nav-label">Top up</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/transactions/new') %>">
                <%= link_to "/transactions/new" do %>
                <i class="fa fa-long-arrow-right"></i> <span class="nav-label">Send money</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/home/qr') %>">
                <%= link_to "/home/qr" do %>
                <i class="fa fa-long-arrow-left"></i> <span class="nav-label">Receive money</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/users/settings') %>">
                <%= link_to "/users/settings" do %>
                <i class="fa fa-cog"></i> <span class="nav-label">Settings</span>
                <% end %>
            </li>
            <% end %>
            <li class="<%= 'active' if current_page?('/shop_locator/show') %>">
                <%= link_to "/shop_locator/show" do %>
                <i class="fa fa-compass"></i> <span class="nav-label">Shop locator</span>
                <% end %>
            </li>
            <li class="<%= is_active_controller('info') %>">
                <a href="#"><i class="fa fa-info"></i> <span class="nav-label">Info</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level is_active_controller('info')">
                    <li class="<%= is_active_action('faq') %>"><%= link_to "FAQ", home_faq_path %></li>
                    <li class="<%= is_active_action('tec') %>"><%= link_to "Terms & Conditions", home_tec_path %></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>