<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="/">

            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li>
            <% if user_signed_in? %>
          <li> <%= link_to current_user.full_name, edit_user_registration_path %></li>
          <%= image_tag current_user.picture.url(:nanothumb), class: "img-circle"%>
          <li><%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Sign out" %></li>
            <% end %>
            <% else %>
          <li><%= link_to "login", new_user_session_path %></li>
            <% end %>
          </li>
        </ul>
    </nav>
</div>