<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valeureux</title>

    <!-- Web application optimisation -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="/assets/images/Icon-29@2x.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/Icon-29@2x.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/Icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/Icon-60@2x.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/Icon-76@2x.png">
    <link rel="apple-touch-startup-image" href="/assets/images/Icon-76@2x.png">
    <meta name="apple-mobile-web-app-title" content="Valeureux">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>
<body>

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        <%= render 'layouts/navigation' %>

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Page wrapper -->
            <%= render 'layouts/topnavbar' %>

            <!-- Volgende notices toegevoegd voor devise, kunnen later verwijdert wanneer dubbel -->

            <% if notice %>
           <div class="alert alert-success alert-dismissable">
              <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
              <p class="notice"><%= notice %></p>
           </div>
           <% end %>
            <% if alert %>
            <div class="alert alert-success alert-dismissable">
              <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
              <p class="notice"><%= alert %></p>
           </div>
           <% end %>


            <!-- Main view  -->
            <%= yield %>

            <!-- Footer -->
            <%= render 'layouts/footer' %>

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->


</body>
</html>
