<h2>R3gister</h2>

 <div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">IN+</h1>

        </div>
        <h3>Register to Valeureux</h3>
        <p>Create account to see it in action.</p>
        <label class="col-sm-2 control-label">
            Checkboxes and radios <br />
            <small class="text-navy">Normal Bootstrap elements</small>
        </label>

        <div class="col-sm-10">
            <div class="radio">
                <label>
                    <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios"> Personal account
                </label>
                <p>Shop in your city and around it, receive money or just pay someone back for lunch - all without sharing your financial info with the sellers.</p>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios"> Business account
                </label>
                <p>Accept payments and send invoices to your customers. It’s easier and more secure to sell to anyone, anywhere, and any time.</p>
            </div>
        </div>
        <form class="m-t" role="form" action="#">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Account type" required="">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" required="">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="">
            </div>
            <div class="form-group">
                <div class="checkbox"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

            <p class="text-muted text-center"><small>Already have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="#">Login</a>
        </form>
        <p class="m-t"> <small>crncy.org open source framework</small> </p>
    </div>
</div>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :shopname %><br>
    <%= f.text_field :shopname %>
  </div>
  <div class="field">
    <%= f.label :salutation %><br>
    <%= f.text_field :salutation %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :user_type %><br>
    <%= f.text_field :user_type %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :vat_number %><br>
    <%= f.text_field :vat_number %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <p>
  <%= f.label :picture %>
  <%= f.file_field :picture %>
  </p>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
